.img {
  &-avatar {
    @extend %rounded;
    @include square-dimensions($size-icon);
  }
}

.svg {
  &-notification {
    @include media-query(desktop) {
      border-right: 0.05rem dashed $dark-gray;
      margin-right: 1rem;
      padding-right: 1rem;
    }
    @include square-dimensions($size-icon);
  }

  // todo: next the border right or left, then the flex-spacing
}
